/* app.css */
.app {
  text-align: center;
}

.sign-up-button {
  border: 1px solid #ccc; /* Add border */
  padding: 10px 20px; /* Add padding for better appearance */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.sign-up-button:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}
